input {
    text-align: center;
}
body {
    color: white;
    background-color: rgb(13, 11, 11);
}
#header {
    /* border: 1px solid gold; */
    text-align: center;
    margin-top: 30%;
}

#playerOne {
    justify-content: center;
    margin: auto;
    text-align: center;
    /* border: 1px solid black; */
}

#playerTwo {
    justify-content: center;
    margin: auto;
    text-align: center;
    /* border: 1px solid red; */
    display: none;
}

.letterBox {
    width: 3vw;
    height: 4vh;
    /* border: 1px solid black; */
    margin: 2px;
    line-height: 4vh;
    border-radius: 10%;
    background-color: rgb(150, 148, 148);
}

.letterGrid {
    margin: 1px;
}

.letterRow {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

.flexGridRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}
.gameGrid {
    /* border: 2px solid pink; */
    margin: 1vh 35vw 5vh 35vw;
}

.flexGridRow .column {
    width: 17%;
    height: 8vh;
    /* border: 1px solid black; */
    margin: 0 auto;
    line-height: 8vh;
    background-color: rgb(150, 148, 148);
}

#guessSubmit2, #guessSubmit3, #guessSubmit4, #guessSubmit5, #guessSubmit6 {
    display: none;
}

#errorHolder {
    color: transparent;
    margin: 1% 0 0 0;
    display: block;
}

#error {
    color: red;
    margin: 1% 0 0 0;
    display: none;
}




