input {
    text-align: center;
}

/* #p2WordChooser, form, input, button {
    margin-bottom: 0;
} */

#header {
    border: 1px solid gold;
    text-align: center;
}

#playerOne {
    justify-content: center;
    margin: auto;
    text-align: center;
    border: 1px solid black;
}

#playerTwo {
    justify-content: center;
    margin: auto;
    text-align: center;
    border: 1px solid red;
    display: none;
}

.letterBox {
    width: 2%;
    height: 4vh;
    border: 1px solid black;
    margin: 1px;
    line-height: 4vh;
    border-radius: 10%;
}

.letterGrid {
    margin: 1px;
}

.letterRow {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}

.flexGridRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}
.gameGrid {
    border: 2px solid pink;
    margin: 1vh 35vw 0 35vw;
}

.flexGridRow .column {
    width: 17%;
    height: 8vh;
    border: 1px solid black;
    margin: 0 auto;
    line-height: 8vh;
}

#guessSubmit2, #guessSubmit3, #guessSubmit4, #guessSubmit5, #guessSubmit6 {
    display: none;
}

#errorHolder {
    color: transparent;
    margin: 1% 0 0 0;
    display: block;
}

#error {
    color: red;
    margin: 1% 0 0 0;
    display: none;
}




